@import '../../styles/variables';

body, html {
  padding: 0;
  margin: 0;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.app-root {
  text-align: center;
}

.app-header {
  background-color: $dark-grey;
  padding: 10px;
  color: $white-color;
  font-size: 20pt;
}

.app-input {
  line-height: 30px;
  border: 1px solid $silver-color;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: $grey;
  width: 90%;
  margin-bottom: 30px;

  @media screen and (min-width: $mobile_break_point) {
    width: 400px;
  }
}
