.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background-color: #222;
  color: #fff;
  z-index: 2;
}
