.gallery-root {
  text-align: center;
}

.loader {
  font-size: 18px;
  padding: 20px auto;

}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
